.navbarBg{
    height: 85px !important;
    background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbarBg a{
    color: white !important;
}

.title{
    font-family: 'Lobster', cursive !important;
    font-size: 40px !important;
}

.fromclass{
    margin: 15px 5px !important;
    border: 2px solid !important;
    border-radius: 5px !important;
    background-color: aliceblue !important;
    color: #141E30 !important;
    padding: 45px 5px !important;
}

.signupTitle{
    font-family: 'Lobster', cursive !important;
    font-size: 40px !important;
}
